/************************************************/
/*                     1180                     */
/************************************************/
@media (max-width: 1180px) {
    .container {
        padding: 0 1%;
    }
}

/************************************************/
/*                     900                      */
/************************************************/

@media (max-width: 900px) {
    html {
        font-size: 16px;
    }
    section {
        padding: 50px 0;
    }

    /* ===== MEALS ===== */
    .box {
        width: 100%;
    }

    .box:not(:last-of-type) {
        margin-bottom: 50px;
    }

    /* ===== CITIES ===== */
    .section-cities .container:last-of-type {
        flex-flow: column;
        padding: 0 20%;
    }

    /* ===== TESTIMONIALS ===== */
    .section-testimonials .container:last-of-type blockquote:not(:last-child) {
        margin-bottom: 50px;
    }
}
