/************************************************/
/*                 BASIC SETUP                  */
/************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    color: var(--font-color);
    font: 20px "Lato-light";
    text-rendering: optimizeLegibility;
}

/************************************************/
/*             REUSEBLE COMPONENTS              */
/************************************************/
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 80px 0;
}

/* ===== HEADINGS ===== */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--bg-color);
    font-size: 240%; /* === 140px === */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    margin-bottom: 30px;
    font-size: 180%; /* === 28.8PX === */
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 110%; /* === 17.7px === */
    margin-bottom: 15px;
}

h2:after {
    content: " ";
    width: 100px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    background-color: var(--accent-color);
}

/* ===== PARAGRAPH ===== */
.long-text {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%; /* ===== 18px ===== */
    line-height: 145%;
}

/* ===== ICONS ===== */
.icon-big {
    margin-bottom: 10px;
    font-size: 350%; /* ===== 56px ===== */
    color: var(--accent-color);
    display: block;
}

/* ===== LINKS ===== */
a,
a:visited {
    text-decoration: none;
    color: var(--accent-color);
    padding-bottom: 1px;
    border-bottom: 1px solid var(--accent-color);
    transition: border-bottom 0.5s, color 0.5s;
}

a:hover,
a:active {
    color: var(--font-color);
    border-bottom: 1px solid transparent;
}

/* ===== BUTTONS ===== */
.btn:link,
.btn:visited,
button[type="submit"] {
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
button[type="submit"] {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--bg-color);
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.btn:hover,
.btn:active,
button[type="submit"]:hover,
button[type="submit"]:active {
    background-color: var(--second-accent-color);
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid var(--accent-color);
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid var(--accent-color);
    color: var(--bg-color);
}

/************************************************/
/*                    HEADER                    */
/************************************************/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/bg/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
}

header .container nav {
    display: flex;
    gap: 40px;
}

header .container nav a:link,
header .container nav a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.2s;
}

header .container nav a:hover,
header .container nav a:active {
    border-bottom: 4px solid #e67e22;
}

/************************************************/
/*                   FEATURES                   */
/************************************************/
.section-features .container:not(:first-of-type) {
    display: flex;
}
.section-features,
.long-text {
    margin-bottom: 30px;
}

.box {
    width: 23.8%;
    margin: 1% 0 1% 1.6%;
}

/************************************************/
/*                    MEALS                     */
/************************************************/
.section-meals {
    padding: 0;
    display: flex;
    flex-flow: column; /* ===== ==== ===== */
    justify-content: center;
}
.meals-showcase {
    list-style: none;
    width: 100%;
    display: flex;
    /* flex-flow: column; */ /* ===== ==== ===== */
    flex-wrap: wrap;
    align-content: center;
}

.meals-showcase li {
    display: block;
    width: 25%; /* ===== ==== ===== */
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.25);
    transition: transform 0.5s, opacity 0.5s;

    &:hover {
        transform: scale(1.035);
        opacity: 1;
    }
}

/************************************************/
/*                    STEPS                     */
/************************************************/
.section-steps {
    background-color: var(--second-bg-color);
    margin: 0 auto;
}

.steps-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps {
    display: flex;
}

.steps {
    padding-left: 3%;
    margin-top: 70px;
    flex-flow: column;
}

.app-screen {
    width: 20%;
    margin-right: 50px;
}

.works-step {
    align-items: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 7px 4px 7px 3px;
    font-size: 150%;
    margin-right: 25px;
    font-weight: 400;
}

.works-step p {
    width: 300px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

/************************************************/
/*                    CITIES                    */
/************************************************/
.section-cities .container:last-of-type {
    display: flex;
}

.box img {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 20%;
    margin-right: 10px;

    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.city-feature {
    font-size: 20px;
    margin-bottom: 5px;
}

/************************************************/
/*                 TESTIMONIALS                 */
/************************************************/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/bg/back-customers.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

.section-testimonials .container:last-of-type {
    display: flex;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/************************************************/
/*                    PLANS                     */
/************************************************/
.section-plans { background-color: #f4f4f4; }

.section-plans .container:last-of-type {
    display: flex;
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px 1px #d6d5d5;
}

.plan-box div { padding: 15px; }

.plan-box div:first-child { border-radius: 2px 2px 0 0; }

.plan-box div:last-child {
    text-align: center;
    padding-bottom: 35px;
    border: 0 0 2px 2px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;    
    font-weight: 300;
    color: #e67e22
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal { font-size: 80%; }

.plan-box ul { list-style: none; }

.plan-box ul li { padding: 5px 0; }

.plan-box ul li span { color: #c0c0c0; }

/************************************************/
/*                    FORM                     */
/************************************************/
.contact-form {
    width: 60%;
    margin: 0 auto;     
}

.contact-form .container {
    display: flex;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea { height: 100px; }

input[type=checkbox] { margin: 10px 5px 10px 0; }

*:focus { outline: none; }