/************************************************/
/*                    FOOTER                    */
/************************************************/
footer {
    background-color: rgb(39, 39, 39);
    padding: 30px;
    font-size: 80%;
}

footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-nav li,
.social-links li {
    display: inline-block;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0px;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 170%;
}


@mixin icons {
    transition: color 0.2s;
}
.facebook {
    @include icons;
    &:hover {
        color: #3b5998;       
    }
}
.twitter {
    @include icons;
    &:hover {
        color: #55acee;       
    }
}

.insta {
    @include icons;
    &:hover {
        color: #e95950;       
    }

}

// .facebook:hover {
//     color: #3b5998;
// }

// .twitter:hover {
//     color: #55acee;
// }

// .insta:hover {
//     color: #e95950;
// }

footer {
    p {
        margin: 50px auto;
        text-align: center;
        color: #888;
    }
}